[defaults]

roles_path	= /home/automation/plays/roles
inventory	= /home/automation/plays/inventory
forks 		= 10
#remote_user	= automation
log_path 	= /home/automation/plays/ansible.log
force_handlers  = True

[inventory]
enable_plugins = host_list, script, yaml, ini, auto
